body {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Pastikan body setinggi viewport */
  margin: 0; /* Hilangkan margin default */
}

.container {
  text-align: center;
  position: relative;
}

.logo {
  height: 300px;
  background-color: transparent;
  /* Tambahkan properti ini untuk memastikan gambar selalu berada di tengah secara vertikal */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: multiply;
}
